<div class="contents row">
  <div class="container">
    <h2>新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>
    
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_area :last_name, placeholder:"例) 山田" %>
      </div>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_area :first_name, placeholder:"例) 華子" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder:"6文字以上の半角英数字" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, placeholder:"同じパスワードを入力して下さい" %>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div>
</div>