<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      Staff Friend
    </h2>
    <p class='service-explain'>
      ショップアテンダントの毎日をサポートします。
    </p>
  <div class='nav'>
    <div class='lists-right'>
      <% if user_signed_in? %>
        <div>
          <%= link_to current_user.last_name, class: "user-name" %>&nbsp;&nbsp;
          <%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "logout" %><br><br>
          <p>メニュー</p>
          <p>☆顧客管理☆</p>&nbsp;&nbsp;
          <%= link_to '★新規登録', "/customers/new" %>&nbsp;&nbsp;
          <%= link_to '★登録顧客一覧', "" %>&nbsp;&nbsp;
          <p>☆テスター管理☆※準備中</p>
          <p>☆業務スケジュール☆※準備中</p>
          <p>☆メッセージ☆※準備中</p>
        </div>
      <% else %>
        <li><%= link_to 'ログイン', "/users/sign_in", class: "login" %></li>
        <li><%= link_to '新規登録', "/users/sign_up", class: "sign-up" %></li>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>