<%= render "shared/header" %>
<div class= "item-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">顧客の情報を入力</h2>
    <%= form_with model:@customers, local: true do |f| %>

    <%#= render 'shared/error_messages', model: f.object %>

    <div class="new-items">
      <div class="weight-bold-text">
        顧客名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"山田　華子", maxlength:"40" %>

      <div class="weight-bold-text">
        会員番号
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :number, class:"items-text", id:"item-name", placeholder:"12345678", maxlength:"8" %>

      <div class="weight-bold-text">
        担当スタッフ
      </div>
      <%= f.text_area :staff, class:"items-text", id:"item-name", placeholder:"山田", maxlength:"10" %>

      <div class="weight-bold-text">
        愛用商品
      </div>
      <%= f.text_area :favorite_goods, class:"items-text", id:"item-name", placeholder:"ウルトラモイスチャーシリーズ", maxlength:"100" %>

      <div class="weight-bold-text">
        嫌い・苦手な商品
      </div>
      <%= f.text_area :dislike_goods, class:"items-text", id:"item-name", placeholder:"ウルトラドライシリーズ", maxlength:"100" %>

      <div class="weight-bold-text">
        サンプルメモ
      </div>
      <%= f.text_area :sample, class:"items-text", id:"item-info", placeholder:"1/5・モイスチャーローション", rows:"7",maxlength:"100" %>

      <div class="weight-bold-text">
        情報
      </div>
      <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"お客様の情報（1,000文字まで）（趣味、好きな事、嫌いなこと、注意点など）例）車が大好きで、大変グルメな方。美味しいお店をたくさんご存知でらっしゃいます。担当スタッフが必ず接客すること。" ,rows:"7" ,maxlength:"1000" %>
    </div>

      <div class="sell-btn-contents">
        <%= f.submit "登録" ,class:"sell-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
  </div>
  <% end %>
</div>
<%= render "shared/footer" %>